* {
  letter-spacing: 15px;
  font-weight: lighter;
}
image{
  width: 100%;
}
body {
  margin: 0px;
  background: linear-gradient(0deg,rgba(213, 216, 220, .7),rgba(213, 216, 220, 0.7)), url('./../assets/54party.jpg')no-repeat center fixed;
}
html {
  height: 100%;
  width:auto;
}
#container {
  background-size:100%;
  background-repeat:no-repeat;
  height: 1000px;
  text-align: center;
  font-family: 'Arial';
}
#header h1 {
  display: inline-block;
  text-align: center;
  letter-spacing: 15px;
  font-weight: lighter;
}
#header {
  background-color: rgba(144, 12, 63, 0.7);
  position: fixed;
  box-shadow: 0px 10px 5px rgba(135, 135, 135, 0.8);
  text-align: center;
  position: fixed; /* Set the navbar to fixed position */
  top:0;/* Position the navbar at the top of the page */
  width: 99%; /* Full width */
}
#search {
  margin-top: 100px;
  text-align: center;
  display: block;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: rgba(144, 12, 63, 0.7)
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
#results {
  list-style-type: none;
  display: block;
  background: silver;
  box-shadow: 0px 10px 5px rgba(135, 135, 135, 0.8);
  height: auto;
  width: auto;
}
